/*------------------------------------CSS for Header.jsx------------------------------------*/
header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.me {
    background: var(--color-primary);
    width: 22rem;
    height: 22.5rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.img_grad {
    
}

.scroll_down {
    position: absolute;
    right: 90px;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: .9rem;
}

/*------------------------------------CSS for CTA.jsx------------------------------------*/
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*------------------------------------CSS for HeaderDocials.jsx------------------------------------*/
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    position: absolute;
    left: 130px;
    bottom: 3rem;
}

.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}





/*------------------Media Queries for Medium devices------------------*/

@media screen and (max-width: 1024px) {
    .hearder {
        height: 68vh;
    }
}

/*------------------Media Queries for Small devices------------------*/

@media screen and (max-width: 600px) {
    .header_socials, .scroll_down {
        display: none;
    }
}